<?xml version="1.0"?>

<launch>

    <!-- World creation -->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-file $(env HOME)/robotics_group_v/locosim/models/lego/lego.sdf -model lego -sdf"/>
    
    <!-- Python script -->
    <!-- <node pkg="ur5_controller" type="sin_movement.py" name="sin_movement_py" /> -->

    <!-- C++ code -->
    <node pkg="ur5_controller" type="ur5_controller_node" name="ur5_controller_node" />
    <node pkg="main_controller" type="fsm" name="fsm" />

</launch>