<?xml version="1.0"?>

<launch>

    <!-- Set log level -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find main_controller)/launch/rosconsole.conf"/>

    <!-- World generation -->
    <rosparam command="load" file="$(find main_controller)/launch/areas.yaml" />

    <node name="spawn_block_0" pkg="gazebo_ros" type="spawn_model" args="-x 2 -y 3 -z 0.2 -file $(env HOME)/robotics_group_v/locosim/models/X1-Y2-Z2/X1-Y2-Z2.sdf -model 0 -sdf"/>
    <node name="spawn_block_1" pkg="gazebo_ros" type="spawn_model" args="-x 2 -y 5 -z 0.2 -file $(env HOME)/robotics_group_v/locosim/models/X1-Y3-Z2-FILLET/X1-Y3-Z2-FILLET.sdf -model 1 -sdf"/>
    <node name="spawn_block_2" pkg="gazebo_ros" type="spawn_model" args="-x 7 -y 6 -z 0.2 -file $(env HOME)/robotics_group_v/locosim/models/X1-Y2-Z2/X1-Y2-Z2.sdf -model 2 -sdf"/>
    <node name="spawn_block_3" pkg="gazebo_ros" type="spawn_model" args="-x 8 -y 1 -z 0.2 -file $(env HOME)/robotics_group_v/locosim/models/X1-Y2-Z2-CHAMFER/X1-Y2-Z2-CHAMFER.sdf -model 3 -sdf"/>

    <node name="spawn_basket_0" pkg="gazebo_ros" type="spawn_model" args="-x 0.85 -y 0.30 -z 0.86 -file $(env HOME)/robotics_group_v/locosim/models/basket/basket.sdf -model basket_0 -sdf"/>
    <node name="spawn_basket_1" pkg="gazebo_ros" type="spawn_model" args="-x 0.85 -y 0.45 -z 0.86 -file $(env HOME)/robotics_group_v/locosim/models/basket/basket.sdf -model basket_1 -sdf"/>
    <node name="spawn_basket_2" pkg="gazebo_ros" type="spawn_model" args="-x 0.85 -y 0.60 -z 0.86 -file $(env HOME)/robotics_group_v/locosim/models/basket/basket.sdf -model basket_2 -sdf"/>
    <node name="spawn_basket_3" pkg="gazebo_ros" type="spawn_model" args="-x 0.85 -y 0.75 -z 0.86 -file $(env HOME)/robotics_group_v/locosim/models/basket/basket.sdf -model basket_3 -sdf"/>

    <!-- Spawn Shelfino -->
    <include file="$(find shelfino_gazebo)/launch/shelfino.launch" />

    <!-- YOLO Python -->
    <include file="$(find yolov5_ros)/launch/yolov5.launch" />

    <!-- C++ code (perception) -->
    <node pkg="yolov5_ros" type="vision_node" name="vision_node" output="screen" />

    <!-- C++ code (controllers) -->
    <node pkg="ur5_controller" type="ur5_controller_node" name="ur5_controller_node" output="screen" />
    <node pkg="shelfino_controller" type="shelfino_controller_node" name="shelfino_controller_node" output="screen" />
    <node pkg="main_controller" type="fsm" name="fsm" output="screen" />

</launch>
